{% extends 'base.html.twig' %}

{% block title %}Edit Course{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit Course</h1>
        {{ include('course/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
{% endblock %}
