{% extends 'base.html.twig' %}

{% block title %}New Course{% endblock %}

{% block body %}
    <div class="container">
        <h1>New Course</h1>
        <br>
        {{ include('course/_form.html.twig') }}
    </div>
{% endblock %}
