{% extends 'base.html.twig' %}

{% block title %}New Student{% endblock %}

{% block body %}
    <div class="container">
        <h1>New Student</h1>
        <br>
        {{ include('student/_form.html.twig') }}
    </div>
{% endblock %}
