{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}

    <div>
        <h1>Hello {{ app.user.name }}!</h1>
        <h4>Welcome to the Course Manager app.</h4>

        <br>
        <p>To get started, click 'Courses' in the navbar and create a Course (e.g. GA30003 Agile Software)</p>
        <p>To manage Courseworks, click 'Courseworks'</p>
        <p>To manage Students, click 'Students'</p>
        <p>To manage Submissions, click 'Submissions'</p>
    </div>
{% endblock %}


