<form method="post" action="{{ path('app_submission_delete', {'id': submission.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ submission.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
