{% extends 'base.html.twig' %}

{% block title %}Edit Submission{% endblock %}

{% block body %}
    <div class="container">

        <h1>Edit Submission</h1>
        {{ include('submission/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
{% endblock %}
