{% extends 'base.html.twig' %}

{% block title %}New Submission{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create new Submission</h1>
        {{ include('submission/_form.html.twig') }}
    </div>
{% endblock %}
