{% extends 'base.html.twig' %}

{% block title %}New CourseWork{% endblock %}

{% block body %}
    <div class="container">
        <h1>New CourseWork</h1>
        <br>
        {{ include('course_work/_form.html.twig') }}
    </div>
{% endblock %}
