{% extends 'base.html.twig' %}

{% block title %}Edit Coursework{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit Coursework</h1>
        {{ include('coursework/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
{% endblock %}
