{% extends 'base.html.twig' %}

{% block title %}New Coursework{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create new Coursework</h1>
        {{ include('coursework/_form.html.twig') }}
    </div>
{% endblock %}
